* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 

.container {
    margin: 0 auto; 
    width: 100vw;
} 

.main-section {   
    position: relative;
    width: 80vw;
    margin: 0 auto;
    padding: 50px 0; 
}  



.main-section__image img {
    width: 250px;  
    margin-bottom: 20px;
}  

.main-section__info {
    margin-top: 20px;  
} 

.section-subtitle {
    margin-bottom: 20px; 
    font-size: 1.5rem; 
    text-transform: capitalize;
    color: #999; 
    letter-spacing: 2px; 
    font-weight: 400;
}

.section-title {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #555; 
    letter-spacing: 2px;  
    font-weight: 600;
} 

.section-description {  
    color: #333;
    letter-spacing: 1px;
    line-height: 27px;
}






